<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blockchain Demo - MINER</title>
        <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
        <!-- FaisalBj1 -->
        <script type="text/javascript" src="{{ url_for('static', filename='main-CSS_JS/main.js') }}"></script>
        <script>
            //toggle theme
            function toggleTheme() {
                const root = document.documentElement;
                const currentTheme = root.getAttribute('data-theme');

                if (currentTheme === 'light') {
                    root.setAttribute('data-theme', 'dark');
                    document.getElementById('light_icon_li').style.display = 'block';
                    document.getElementById('dark_icon_li').style.display = 'none';
                } else {
                    root.setAttribute('data-theme', 'light');
                    document.getElementById('light_icon_li').style.display = 'none';
                    document.getElementById('dark_icon_li').style.display = 'block';
                }
            }
        </script>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <!-- Add nodes -->
            <div>
                <h2>Add Blockchain nodes</h2>
                <p>Enter a list of Blockchain node URLs separated by comma and click on "Add" button to add them to the list of nodes</p>
            </div>

            <br>
            <br>
            <br>

            <div class="card-01">
                <form id="node_form">
                    <label>Node URLs</label>
                    <input type="text" name="nodes" id="nodes" class="form-control" style="width:100%;">
                    <br>
                    <br>
                    <br>
                    <input type="button" id="add_node_button" class="btn secondary" value="Add Node">
                </form>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- List of nodes -->
            <div style="display:flex; flex-direction:column; text-align: left;">
                <div>
                    <h4>This node can retrieve Blockchain data from the following nodes:</h4>
                </div>
                <div id="list_nodes"></div>
            </div>

            <script src="/static/vendor/jquery/jquery.min.js"></script>
            <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
            <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
            <script>
                $(function() {
                    $('#add_node_button').click(function() {
                        $.ajax({
                            url: '/nodes/register',
                            type: 'POST',
                            dataType: 'json',
                            data: $('#node_form').serialize(),
                            success: function(response) {
                                document.getElementById('nodes').value = '';
                                window.location.reload();
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    });

                    $.ajax({
                        url: '/nodes/get',
                        type: 'GET',
                        success: function(response) {
                            let nodes = '';
                            for (i=0; i<response['nodes'].length; i++) {
                                node = "<li><a href=http://" + response['nodes'][i] + ">" + response['nodes'][i] + "</a></li>"
                                document.getElementById('list_nodes').innerHTML += node;
                            }
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });

                });

            </script>
        </main>
        <my-footer></my-footer>
    </body>
</html>