<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blockchain Demo - MINER</title>
        <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
        <!-- FaisalBj1 -->
        <script type="text/javascript" src="{{ url_for('static', filename='main-CSS_JS/main.js') }}"></script>
        <script>
            //toggle theme
            function toggleTheme() {
                const root = document.documentElement;
                const currentTheme = root.getAttribute('data-theme');

                if (currentTheme === 'light') {
                    root.setAttribute('data-theme', 'dark');
                    document.getElementById('light_icon_li').style.display = 'block';
                    document.getElementById('dark_icon_li').style.display = 'none';
                } else {
                    root.setAttribute('data-theme', 'light');
                    document.getElementById('light_icon_li').style.display = 'none';
                    document.getElementById('dark_icon_li').style.display = 'block';
                }
            }
        </script>
    </head>
    <body>
        <my-header></my-header>
        <main style="flex-direction:row;">
            <div class="card-02">
                <h1>blockchain demo</h1>
                <br>
                <h2>miner side</h2>
            </div>

            <div class="card-03">
                <p>
                    At BLOCK DRIVE, we invite you to embark on a journey into the future of technology with our cutting-edge Blockchain Network Demo. Immerse yourself in the transformative world of blockchain and experience firsthand the power of decentralized, secure, and transparent transactions
                </p>
                <br><br><br>
                <div>
                    <a href="/mine_page"><button  class="btn primary">mine</button></a>
                    <a href="/configure"><button  class="btn secondary">Configure</button></a>
                </div>
            </div>
        </main>
        <my-footer></my-footer>
    </body>
</html>