<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blockchain Demo - CLIENT</title>
        <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
        <!-- FaisalBj1 -->
        <script type="text/javascript" src="{{ url_for('static', filename='main-CSS_JS/main.js') }}"></script>
        <script>
            //toggle theme
            function toggleTheme() {
                const root = document.documentElement;
                const currentTheme = root.getAttribute('data-theme');

                if (currentTheme === 'light') {
                    root.setAttribute('data-theme', 'dark');
                    document.getElementById('light_icon_li').style.display = 'block';
                    document.getElementById('dark_icon_li').style.display = 'none';
                } else {
                    root.setAttribute('data-theme', 'light');
                    document.getElementById('light_icon_li').style.display = 'none';
                    document.getElementById('dark_icon_li').style.display = 'block';
                }
            }
        </script>
    </head>

    <body>
        <my-header></my-header>
        <main>
            <div>
                <h2>Send Coins:</h2>
                <p>Enter transaction details and click on "Generate Transaction" button to generate your transaction</p>
                <br><br><br><br><br>
            </div>

            <div class="card-05 slide_up">
                <form id="transaction_form">
                    <div class="row">
                        <label>Sender Public Key:</label>
                        <input type="text" name="sender_public_key" id="sender_public_key">
                    </div>

                    <br>

                    <div class="row">
                        <label>Sender Private Key:</label>
                        <input type="text" name="sender_private_key" id="sender_private_key" class="form-control">
                    </div>

                    <br>

                    <div class="row">
                        <label>Recipient Public Key:</label>
                        <input type="text" name="recipient_public_key" id="recipient_public_key" class="form-control">
                    </div>

                    <br>

                    <div class="row">
                        <label>Amount:</label>
                        <input type="text" name="amount" id="amount" class="form-control">
                    </div>

                    <br>

                    <div>
                        <input type="button" name="generate_transaction" id="generate_transaction" class="btn primary" value="Generate Transaction">
                        <input type="button" name="button_clear_form" id="button_clear_form" class="btn secondary" value="clear">
                    </div>
                </form>
            </div>
        </main>
        <my-footer></my-footer>

        <!-- Modal -->
        <div class="modal" id="basic_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-card-01">
                <div class="modal-card-01-content">
                    <div class="modal-card-01-header">
                        Confirm transaction details, enter a blockchain node url and click on "Confirm Transaction" to finalize your transaction.
                    </div>

                    <div class="modal-card-01-main">
                        <form id="confirmation_transaction_form">

                            <div class="modal-card-01-row">
                                <label>Sender Public Key:</label>
                                <input type="text" name="confirmation_sender_public_key" id="confirmation_sender_public_key" readonly>
                            </div>

                            <div class="modal-card-01-row">
                                <label>Recipient Public Key:</label>
                                <input type="text" name="confirmation_recipient_public_key" id="confirmation_recipient_public_key" readonly>
                            </div>

                            <div class="modal-card-01-row">
                                <label>Amount to Send:</label>
                                <input type="text" name="confirmation_amount" id="confirmation_amount" readonly>
                            </div>

                            <div class="modal-card-01-row">
                                <label>Transaction Signature:</label>
                                <input type="text" name="transaction_signature" id="transaction_signature" readonly>
                            </div>

                            <div class="modal-card-01-row">
                                <label>Blockchain Node URL:</label><input type="text" name="node_url" id="node_url" value="http://127.0.0.1:5001">
                            </div>

                        </form>
                    </div>


                    <div class="modal-card-01-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirm Transaction</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alert Message for successful transaction -->
        <div class="modal" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-card-02">
                <div class="modal-card-01-content">

                    <div>
                      <h4>Successful Transaction!</h4>
                      <p>You successfully completed your transaction. It will be added to the next block.</p>
                    </div>

                    <div class="modal-card-01-footer">
                    <button type="button" id="confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>

                </div>
            </div>
        </div>




        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
        <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
        <script>
            $(function() {
                $("#generate_transaction").click(function() {
                    $.ajax({
                        url: "/generate/transaction",
                        type: "POST",
                        dataType: 'json',
                        data: $('#transaction_form').serialize(),
                        success: function(response) {
                            document.getElementById('confirmation_sender_public_key').value = response['transaction']['sender_public_key'];
                            document.getElementById('confirmation_recipient_public_key').value = response['transaction']['recipient_public_key'];
                            document.getElementById('confirmation_amount').value = response['transaction']['amount'];
                            document.getElementById('transaction_signature').value = response['signature'];

                            $('#basic_modal').css('display', 'flex');
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });

                $('#button_confirm_transaction').click(function() {
                    $.ajax({
                        url: document.getElementById('node_url').value + '/transactions/new',
                        type: 'POST',
                        dataType: 'json',
                        header: {'Access-Control-Allow-Origin': '*'},
                        data: $('#confirmation_transaction_form').serialize(),
                        success: function(response) {
                            /*$('#sender_public_key').val('');
                            $('#sender_private_key').val('');
                            $('#recipient_public_key').val('');
                            $('#amount').val('');*/

                            $('#basic_modal').css('display', 'none');
                            $('#success_transaction_modal').css('display', 'flex');

                        },
                        error: function(error) {
                            console.log(error);
                        }

                    });
                });

                $('#confirm_transaction').click(function() {
                    $('#success_transaction_modal').css('display', 'none');
                });

                $('#button_clear_form').click(function() {
                    document.getElementById('transaction_form').reset();
                });

            });

        </script>
    </body>
</html>