<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blockchain Demo - CLIENT</title>
        <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
        <!-- FaisalBj1 -->
        <script type="text/javascript" src="{{ url_for('static', filename='main-CSS_JS/main.js') }}"></script>
        <script>
            //toggle theme
            function toggleTheme() {
                const root = document.documentElement;
                const currentTheme = root.getAttribute('data-theme');

                if (currentTheme === 'light') {
                    root.setAttribute('data-theme', 'dark');
                    document.getElementById('light_icon_li').style.display = 'block';
                    document.getElementById('dark_icon_li').style.display = 'none';
                } else {
                    root.setAttribute('data-theme', 'light');
                    document.getElementById('light_icon_li').style.display = 'none';
                    document.getElementById('dark_icon_li').style.display = 'block';
                }
            }
        </script>
    </head>
    <body>
        <my-header></my-header>
        <main>
            <div>
                <h2>View Transactions</h2>
                <p>Enter a blockchain node URL and click on "View Transactions" button to check all transactions</p>
                <br><br><br><br><br>
            </div>

            <div class="card-05 slide_up">
                <div class="row">
                  <label>Node URL:</label>
                    <textarea id="node_url" rows="1" >http://127.0.0.1:5001</textarea>
                </div>

                <br><br><br>
                <input type="button" id="view_transactions" class="btn primary" value="View Transactions">

                <br><br><br><br><br>

                <!-- Blockchain Transactions Table -->
                <table id="transactions_table" class="table-bordered" cellspacing="0" width="100%" style="display:none;"></table>
            </div>

        </main>
        <my-footer></my-footer>




        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
        <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
        <script>
            $(function() {
                $('#view_transactions').click(function(){

                    $('#transactions_table').css('display', 'block');

                  $.ajax({
                    url: document.getElementById("node_url").value + "/chain",
                    type: 'GET',
                    success: function(response){

                      console.log(response);
                      //Generate Transactions Table
                      var transactions = [];
                      count = 1;

                      for (i = 1; i < response.length; i++) {
                        for (j = 0; j < response["chain"][i]["transactions"].length; j++) {

                          //format date
                          var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                          var date = new Date(response["chain"][i]["timestamp"] * 1000);
                          var formattedDateTime = date.toLocaleTimeString("en-us", options);

                          transaction = [count,
                                        response["chain"][i]["transactions"][j]["recipient_public_key"],
                                        response["chain"][i]["transactions"][j]["sender_public_key"],
                                        response["chain"][i]["transactions"][j]["amount"],
                                        formattedDateTime,
                                        response["chain"][i]["block_number"]];
                          transactions.push(transaction);

                          count += 1;
                        };
                      };

                      // Restrict a column to 10 characters, do split words
                        $('#transactions_table').dataTable( {
                          data: transactions,
                          columns: [{ title: "#" },
                                    { title: "Recipient Public Key"},
                                    { title: "Sender Public Key"},
                                    { title: "Amount"},
                                    { title: "Timestamp"},
                                    { title: "Block"}],
                          columnDefs: [ {targets: [1,2,3,4,5], render: $.fn.dataTable.render.ellipsis( 25 )}]
                        } );

                    },
                    error: function(error){
                      console.log(error);
                    }
                  });
                });

            });
        </script>
    </body>
</html>